@import "../../../bower_components/bootstrap/less/bootstrap";
@import (less) "../../../bower_components/angular/angular-csp.css";

@import (less) "../../../bower_components/angular-chart.js/dist/angular-chart.css";

@font-face {
    font-family: 'space';
    src: url('/fonts/Arkitech Bold.ttf')  format('truetype'),
            url('/fonts/Arkitech Light.ttf')  format('truetype'),
            url('/fonts/Arkitech Medium.ttf')  format('truetype');
}

@body-bg:               #008;
// @body-bg:               #000;

@text-color:            #68E6FD;

@state-primary-text:         darken(#428bca, 6.5%); // #337ab7
@state-success-text:         lighten(#5cb85c, 10%);
@state-info-text:            lighten(#5bc0de, 10%);
@state-warning-text:         lighten(#f0ad4e, 10%);
@state-danger-text:          lighten(#d9534f, 10%);

@font-family-sans-serif:  "space", Helvetica, Arial, sans-serif;

@hr-border:                   @state-primary-text;
@table-border-color:          @state-primary-text;

@input-bg:                    @state-info-text;

#enable-sounds {
    position: absolute;
    z-index: 9999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
#enable-sounds button {
    margin-top: 20%;
}

#help-message {
    position: absolute;
    top: 40%;
    left: 0;
    width: 80%;
    margin: auto 10%;
}

#question {
    width: 100%;
    padding: 10px;
    background-color: inherit;
    border: none;
    font-size: 2em;
}
#question:focus {
    box-shadow: none;
    border: none;
}

li {
    margin-bottom: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid @state-primary-text;
}

.panel-primary .panel-body {
    background-color: #000;
}

.panel-title {
    height: 2em;
    vertical-align: middle;
}

.panel-danger {
    border-color: @brand-danger;
    .panel-title {
        color: #FFF;
    }
    .panel-heading {
        background-color: @brand-danger;
    }
    .panel-body {
        background-color: @brand-danger;
    }
}

.panel-success {
    border-color: @brand-success;
    .panel-title {
        color: #FFF;
    }
    .panel-heading {
        background-color: @brand-success;
    }
    .panel-body {
        background-color: @brand-success;
    }
}

img.faded {
    opacity: 0.5;
}

input.danger {
    background-color: @brand-danger !important;
}

body.lock-down {
    background-color: @brand-danger;

    .text-danger {
        color: #FFF;
    }
    hr {
        border-color: #FFF;
    }
    h2 {
        font-size: 5em;
    }
}

body.launched {
    background-color: @brand-success;

    .text-danger {
        color: #FFF;
    }
    hr {
        border-color: #FFF;
    }
    h2 {
        font-size: 5em;
    }
}

.alt-font {
    font-family: sans-serif;
}

.double {
    font-size: 2em;
}

.huge {
    font-size: 5em;
}

input.huge {
    height: 2em;
    padding: 10px;
}